.card {
  padding: 5px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  &::after {
    content: "";
    margin-top: 5px;
    height: 1px;
    width: 100%;
    background-color: black;
  }
  &__title {
    span {
      margin-top: 5px;
      display: inline-block;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 120%;
      width: 60%;
      font-weight: 700;
      line-height: 25px;
    }
    img {
      height: 23em;
      float: left;
      margin-right: 15px;
      cursor: pointer;
      transition-duration: 0.5s;
      &:hover {
        scale: 1.07;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .card {
    a {
      display: block;
      overflow: hidden;
      width: 250px;
      text-overflow: ellipsis;
      height: 430px;
    }
    align-items: center;
    &__overview {
      display: none;
    }
    &__date-release {
      display: none;
    }
    &__title {
      span {
        width: 100%;
      }
    }
    &__image {
      img {
        float: none;
      }
    }
  }
}
