.header {
  min-width: 350px;
  background: #30343c;
  &__links {
    margin-left: 25px;
    a {
      margin: 0px 1rem;
      color: #fff;
      font-size: 1.5rem;
      &:hover {
        color: #f8e645;
      }
    }
  }
  &__container {
    height: 55px;
    display: flex;
    align-items: center;
  }
  &__logo {
    width: 55px;
    img {
      border: none;
      max-width: 100%;
      height: auto;
    }
  }
  &__search {
    input {
      height: 35px;
      margin: 0px 15px;
    }
  }
}

@media screen and (min-width: 1300px) {
  .header {
    &__container {
      padding: 0 9rem;
    }
  }
}

@media screen and (min-width: 1200px) {
  .header {
    &__container {
      padding: 0 5rem;
    }
  }
}

@media screen and (min-width: 1100px) {
  .header {
    &__container {
      padding: 0 2rem;
    }
  }
}
